.RememberMe {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.RememberMe > label {
    font-size: 12px;
    text-transform: capitalize;
    margin-bottom: 0;
    margin-left: 3px;
    color: rgba(255, 255, 255, 0.7);
}


.RememberMe input[type="checkbox"] {
    -webkit-appearance: checkbox;
    width: 12px;
    height: 12px;
}

