.AccountDetails {
    flex: 3 0 0;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
}

.AccountDetailsContainer {
    margin-top: 30px;
    text-transform: uppercase;
}

.Header {
    margin-top: 90px;
    background-color: #F1F1F1;
    position: relative;
    width: 105%;
    left: -20px;
    box-sizing: border-box;
}

.AvaName {
    display: flex;
    position: absolute;
    top: -90px;
    left: 20px;
}

.AvaName > img {
    border-radius: 50%;
}

.AvaName > p {
    font-size: 16px;
    padding-top: 30px;
    margin-left: 20px;
}

.introduction {
    display: flex;
    flex-direction: column;
    padding: 30px 0 0 170px;
    flex-wrap: nowrap;
}

.introductionInfo {
    display: flex;
    font-size: 12px;
    align-items: center;
    padding-bottom: 15px;
}

.introductionInfo > img {
    height: 12px;
    width: 12px;
    margin-right: 8px;
}

.Mode {
    padding-left: 170px;
    display: flex;
    flex-wrap: nowrap;    
}

.Mode > button {
    width: 120px;
    height: 38px;
    border: none;
}

.Mode > button:last-child {
    margin-left: 10px;
}

.Body {
    border-top: 0.5px solid rgba(0, 0, 0, 0.4);
    margin-top: 30px;
}