.MenuHeader {
    display: flex;
    padding: 35px 25px;
    box-sizing: border-box;
    width: 100%;
}

.Logo {
    display: flex;
    color: #949494;
    font-size: 12px;
}

.Logo img {
    flex: 1 0 34px;
}

.ToggleButton {
    flex: 1 0 36px;
    background-color: #303641;
    border: 1px solid #949494;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: space-evenly;
    margin-right: 5px;
}

.ToggleButton div {
    width: 20px;
    height: 4px;
    background-color: #949494;
    align-self: center;
}



