.contact {
    position: absolute;
    width: inherit;
    height: 100px;
    bottom: 0;
    color: white;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    line-height: 0.8;
    align-items: center;
    padding-top: 12px;
    background: #3B5998;
}
