.Icon {
    background-color: #373E43;
    box-sizing: border-box;
    flex-basis: 45px;
    border-right: solid 0.5px #616161;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Icon > i {
    color: #949494;
    font-size: 10px;
    margin: 0;
    margin-bottom: 5.5px;
}


